<html>
<head>
    <title>NootJS Profiler</title>
    <link rel="stylesheet" type="text/css" href="{{ asset("@NootjsFrameworkBundle/css/debug.css") }}">
</head>
<body>
    <h1>NootJS Profiler</h1>
    {% block body %}{% endblock %}
</body>
</html>