<html>
<head>
    <title>NootJS</title>
    <link rel="stylesheet" type="text/css" href="{{ asset("css/style.css") }}">
</head>
<body>
    <h1>Custom error page ({{ statusCode }})</h1>
</body>
</html>