<html>
<head>
    <title>NootJS</title>
    <link rel="stylesheet" type="text/css" href="{{ "css/style.css" | asset }}">
</head>
<body>
    <h1>AcmeBundle</h1>
    <p><a href="{{ "app.default.index" | path({"name": "Koen"}) }}">Andere pagina</a></p>
</body>
</html>